Thumbs.db
msr.ko
cpuid.ko
*~
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
#*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.o
*.zip
amdmsrt
*.sw?
amdmsrt4myZ575
core


/.gitinfo.log
#^ auto added by bash script '/home/user/bin/gengitinfo' - do not commit this file in order to avoid re-generating '.gitinfo.log' on each run due to 'git diff' placing its output into '.gitinfo.log', thus detecting more stuff on the next 'git diff' run!
